@using Common.Constants
@using Project.Model.DbSet
@using Project.Model.Model
@using Project.Model.Configuration;

@model IEnumerable<UnitInfo>
@{
    UserInfo nd_dv = (UserInfo)Session[ConfigKey.SESSION_LOGIN];
}
@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr>
            <td class="text-left">
                <input type="checkbox" name="checkAll" class="checkSingle" value="@item.Unit.UnitId" />
            </td>
            <td class="text-left">@(item.Unit.Name)</td>
            <td class="text-left">@(item.Unit.Code)</td>
            <td class="text-left">@item.UnitGroup.Name</td>
            <td class="text-left">@(item.Unit.Rate)</td>
            <td class="text-left">@(item.Unit.CreateDate != null ? item.Unit.CreateDate.Value.ToString("yyyy-MM-dd") :"")</td>
            <td class="text-center clickable-td">
                @if (nd_dv.Users.PermissionID != EnumUserType.EMPLOYEE)
                {
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer">
                            <img src="/Files/images/system/more_vertical.png" width="24" height="24" />
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="btn btn-xs" style="cursor: pointer; padding-right: 10px; text-align: left;" onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Update","Unit", new {area ="Admin",id = item.Unit.UnitId})', function (e) { $('#modal-qltaikhoan').modal('show'); });"><img src="/Files/images/system/edit_book.png" width="24" /> Edit Unit</a>
                            </li>
                            <li>
                                <a class="btn btn-xs" style="cursor: pointer; padding-right: 10px; text-align: left;" data-id="@item.Unit.UnitId" onclick="Xoa($(this))"><img src="/Files/images/system/delete.png" width="24" /> Delete</a>
                            </li>
                        </ul>
                    </div>
                }
            </td>
        </tr>

    }
}
<script>
    $('#idsotrang').val('@ViewBag.sotrang');
    document.getElementById("idtongsotrang").innerHTML = '@ViewBag.tongsotrang';
    $(".clickable-td").on("click", function (e) {
        $(".dropdown-toggle").dropdown();
    });

</script>

