@using Common.Constants
@using Project.Model.Model
@using Common.Resources
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    UserInfo nd_dv = (UserInfo)ViewBag.User;
}
<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
            </div>
            <ul class="nav navbar-nav navbar-right">
                @if (nd_dv.Users.PermissionID != EnumUserType.EMPLOYEE)
                {
                    <li class="">
                        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="cta-add-new">+ New</span>
                        </a>
                        <ul class="dropdown-menu dropdown-usermenu pull-right">
                            <li><a onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Insert","Products",new { area = "Admin" })', function (e) { $('#modal-qltaikhoan').modal('show'); });"><img src="/Files/images/system/list_alt.png" width="24" /> Recipe</a></li>
                            <li><a onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Update","Categories",new { area = "Admin" })', function (e) { $('#modal-qltaikhoan').modal('show'); });"><img src="/Files/images/system/book.png" width="24" /> Recipe Book</a></li>
                            <li><a onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Update","Ingredient", new { area = "Admin"})', function (e) { $('#modal-qltaikhoan').modal('show'); });"><img src="/Files/images/system/ingredient_group.png" width="24" /> Ingredient</a></li>
                            <li><a onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Update_Group","Ingredient", new { area = "Admin"})', function (e) { $('#modal-qltaikhoan').modal('show'); });"><img src="/Files/images/system/ingredient_group.png" width="24" /> Ingredient Group</a></li>
                            <li><a onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Update","Unit",new { area = "Admin" })', function (e) { $('#modal-qltaikhoan').modal('show'); });"><img src="/Files/images/system/unit_group.png" width="24" /> Unit</a></li>
                            <li><a onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Update_Group","Unit",new { area = "Admin" })', function (e) { $('#modal-qltaikhoan').modal('show'); });"><img src="/Files/images/system/unit_group.png" width="24" /> Unit Group</a></li>
                            <li><a onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Update","Sizes",new { area = "Admin" })', function (e) { $('#modal-qltaikhoan').modal('show'); });"><img src="/Files/images/system/unit_group.png" width="24" /> Size</a></li>
                            <li><a onclick="javascript: $('#modal-qltaikhoan').load('@Url.Action("Update","Slider",new { area = "Admin" })', function (e) { $('#modal-qltaikhoan').modal('show'); });"><img src="/Files/images/system/unit_group.png" width="24" /> Banner</a></li>
                        </ul>
                    </li>
                }
                <li style="padding: 12px;">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div>
                                <input class="form-control search-form" placeholder="Search recipe..." name="tuKhoa" onchange="DanhSach();" />
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- /top navigation -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
        <div class="x_panel">
            <div class="x_title">
                <div class="clearfix"></div>
            </div>
            <div class="menu-nav">
                <a class="menu-nav-item active">
                    <img src="/Files/images/system/recipe.png" width="24" />
                    <span>Recipes</span>
                </a>
                <a class="menu-nav-item" href="@Url.Action("MainPage","Categories")">
                    <img src="/Files/images/system/recipe_book.png" width="24" />
                    <span>Recipe Books</span>
                </a>
                <a class="menu-nav-item" href="@Url.Action("MainPage","Ingredient")">
                    <img src="/Files/images/system/ingredients.png" width="24" />
                    <span>Ingredients</span>
                </a>
                <a class="menu-nav-item" href="@Url.Action("MainPage_Group","Ingredient")">
                    <img src="/Files/images/system/ingredient_group_color.png" width="24" />
                    <span>Ingredient Group</span>
                </a>
                <a class="menu-nav-item" href="@Url.Action("MainPage","Unit")">
                    <img src="/Files/images/system/unit_group_color.png" width="24" />
                    <span>Unit</span>
                </a>
                <a class="menu-nav-item" href="@Url.Action("MainPage_Group","Unit")">
                    <img src="/Files/images/system/unit_group_color.png" width="24" />
                    <span>Unit Group</span>
                </a>
                <a class="menu-nav-item" href="@Url.Action("MainPage","Sizes")">
                    <img src="/Files/images/system/unit_group_color.png" width="24" />
                    <span>Size</span>
                </a>
                <a class="menu-nav-item" href="@Url.Action("MainPage","Slider")">
                    <img src="/Files/images/system/unit_group_color.png" width="24" />
                    <span>Banner</span>
                </a>
            </div>
           
            <div class="x_content table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th class="text-left" width="60" style="max-width:60px;"><input type="checkbox" name="checkedAll" id="checkedAll" /></th>
                            <th class="text-left" width="200">Type</th>
                            <th class="text-left">Name</th>
                            <th class="text-left" width="200">Publish Status</th>
                            <th class="text-left" width="200">Date Added</th>
                            <th width="150" class="text-left" style="max-width:60px;">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="list"></tbody>
                    <tfoot>
                        <tr>
                            <td colspan="18" class="clear-all text-left" style="background-color: #fff;">
                                <a class="btn btn-xs" onclick="RemoveAll($(this))"><img src="/Files/images/system/delete.png" width="24" /> Remove</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="18">
                                <span class="pull-left" style="margin-left:5px;">
                                    <img title="Firt page" alt="Firt page" style="cursor:pointer" onclick="ChoosePage(3)" src="~/Files/images/system/PgFirst.gif" />
                                    &nbsp;
                                    <img title="Next page" alt="Next page" style="cursor:pointer" onclick="ChoosePage(1)" src="~/Files/images/system/PgPrev.gif" />
                                    &nbsp;
                                    <label for="" id="">Page </label>
                                    <input id="idsotrang" style="width:35px;height:28px; text-align:right;" title="Page number input" onkeyup="ChoosePage(0)" />&nbsp;/&nbsp;
                                    <strong id="idtongsotrang" title="Tổng số trang">0</strong>&nbsp;
                                    &nbsp;
                                    <img title="Preview page" alt="Preview page" style="cursor:pointer" onclick="ChoosePage(2)" src="~/Files/images/system/PgNext.gif" />
                                    &nbsp;
                                    <img title="End page" alt="End page" style="cursor:pointer" onclick="ChoosePage(4)" src="~/Files/images/system/PgLast.gif" />
                                </span>
                                <span class="pull-right" style="margin-right:5px;">
                                    <label for="" id="">Page:</label>
                                    <select name="tongsodong" onchange="ChoosePage(5)" class="DDControl" style="height: 30px; background-color: transparent; border: 0px;">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="100" selected>100</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="modal-chitiet" style="z-index: 9999;"></div>
<div class="modal" tabindex="-1" role="dialog" id="modal-danhsach"></div>
<div class="modal" tabindex="-1" role="dialog" id="modal-giaodich"></div>

<script>
    mnActive = "mn-home";
    $(document).ready(function () {
        $(".ctr-select").selectpicker({
            width: '100%',
            showTick: true,
        });
        DanhSach();

        $("#checkedAll").change(function () {
            if (this.checked) {
                $(".checkSingle").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkSingle").each(function () {
                    this.checked = false;
                })
            }
        });

        $(".checkSingle").click(function () {
            if ($(this).is(":checked")) {
                var isAllChecked = 0;
                $(".checkSingle").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })
                if (isAllChecked == 0) { $("#checkedAll").prop("checked", true); }
            } else {
                $("#checkedAll").prop("checked", false);
            }
        });
    });

    function DanhSach() {
        $("#list").html("<tr><td colspan='19'><img src='/Files/images/system/loading.gif' style='margin: auto auto;display: block;margin-top: 20px;height:80px;' /></td></tr>");
        $("#list").load("@Url.Action("List", "Products", new {area ="Admin"})?keyword=" + encodeURI($("[name=tuKhoa]").val()) + "&tongsodong=" + $('[name=tongsodong]').val() + "&status=" + $("#nhomquyenid").val() + "&category=" + @ViewBag.categoryId);
    }

    // Sort order by Tab table//
    //$('th').click(function () {
    //    var table = $(this).parents('table').eq(0)
    //    var rows = table.find('tbody tr').toArray().sort(comparer($(this).index()))
    //    this.asc = !this.asc
    //    if (!this.asc) { rows = rows.reverse() }
    //    for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
    //})
    //function comparer(index) {
    //    return function (a, b) {
    //        var valA = getCellValue(a, index), valB = getCellValue(b, index)
    //        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
    //    }
    //}
    //function getCellValue(row, index) { return $(row).children('td').eq(index).text() }
    //===================================//
</script>
<script>
    function ChoosePage(loaichon)//loaichon = 0 nhập số trang, 1 trước, 2 sau, 3 đầu tiên, 4 cuối cùng, 5 chọn số dòng hiển thị
    {
        debugger;
       var tongsotrang = Number($('#idtongsotrang').text())
        var sotrang = Number($('#idsotrang').val());
        console.log(sotrang);
        if (isNaN(sotrang)) {
            alertify.error("Số trang nhập không đúng định dạng số");
            return false;
        }
        if (sotrang > tongsotrang) {
            alertify.error("Số trang nhập không được vượt quá tổng số trang");
            return false;
        }
        if (loaichon == 0)//nhập số trang
        {
            if (sotrang <= 0 || sotrang > tongsotrang) {
                alertify.error("Số trang phải lớn hơn hoặc bằng 1, nhỏ hơn hoặc bằng tổng số trang :" + tongsotrang);
                return false;
            }
        }
        else if (loaichon == 1)// trang trước
        {
            sotrang = sotrang - 1;
            if (sotrang <= 0) {
                alertify.error("Số trang phải lớn hơn hoặc bằng 1");
                return false;
            }
        }
        else if (loaichon == 2)//trang sau
        {
            sotrang = sotrang + 1;
            if (sotrang > tongsotrang) {
                alertify.error("Số trang phải nhỏ hơn hoặc bằng tổng số trang : " + tongsotrang);
                return false;
            }
        }
        else if (loaichon == 3)//trang đầu tiên
        {
            sotrang = 1;
            if (sotrang > tongsotrang) {
                alertify.error("Số trang phải nhỏ hơn hoặc bằng tổng số trang : " + tongsotrang);
                return false;
            }
        }
        else if (loaichon == 4)//trang cuối cùng
        {
            sotrang = tongsotrang;
            if (sotrang > tongsotrang) {
                alertify.error("Số trang phải nhỏ hơn hoặc bằng tổng số trang : " + tongsotrang);
                return false;
            }
        }
        $("#list").html("<tr><td class='text-center' colspan='19'><img src='/Files/images/system/loading.gif' alt='Loading' style='margin: auto auto;display: block;margin-top: 80px;height:80px;' /></td></tr>");
        $("#list").load("@Url.Action("List", "Products", new { area = "Admin" })?sotrang=" + sotrang + "&tongsodong=" + $('[name=tongsodong]').val() + "&keyword=" + encodeURI($("[name = tuKhoa]").val()) + "&status=" + $('#nhomquyenid').val() + "&category=" + @ViewBag.categoryId);
    }
</script>
<script>
    function Xoa(obj) {
        alertify.confirm('Confirm', function (e) {
            if (e) {
            $.ajax({
                url: '@Url.Action("Delete", "Products", new { area = "Admin" })',
                type: 'GET',
                dataType: 'json',
                mimeType: "multipart/form-data",
                contentType: false,
                async: false,
                cache: false,
                data: { id: obj.attr("data-id") },
                success: function (data) {
                    if (data.isSuccess) {
                        alertify.success(data.message);
                        DanhSach();
                        }
                        else {
                        alertify.error(data.message);
                        }
                    }
                });
            }
        });
    }

    function RemoveAll(obj) {
        var checkboxValues = [];
        $('input[name=checkAll]:checked').map(function () {
            checkboxValues.push($(this).val());
        });
        console.log(checkboxValues);
        alertify.confirm('Confirm delete', function (e) {
            if (e) {
            $.ajax({
                url: '@Url.Action("DeleteAll", "Products", new { area = "Admin" })',
                type: 'GET',
                dataType: 'json',
                mimeType: "multipart/form-data",
                contentType: false,
                async: false,
                cache: false,
                data: { ids: checkboxValues.join() },
                success: function (data) {
                    if (data.isSuccess) {
                        alertify.success(data.message);
                        DanhSach();
                        }
                        else {
                        alertify.error(data.message);
                        }
                    }
                });
            }
        });
    }
</script>
