@using Common.Constants
@using Project.Model.DbSet
@using Common.Resources
@using Project.Model.Model
@using Project.Model.Configuration;
@model Product
@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
    UserInfo nd_dv = (UserInfo)Session[ConfigKey.SESSION_LOGIN];
}
<script src="//code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<style>
    td {
        border: 0 !important
    }

    .image-area {
        position: relative;
    }

    .overlay-image-remove {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(50 50 50 / 50%);
        top: 0;
    }

    .image-area:hover .overlay-image-remove {
        display: block;
    }

    .overlay-image-remove a {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
</style>

<div class="row">
    <form class="fv-form fv-form-bootstrap" id="frm-capnhat1">
        <input type="hidden" id="ProductId" name="ProductId" value="@(Model != null? Model.ProductId.ToString():Guid.Empty.ToString())">
        <input type="hidden" id="ProductTempId" name="ProductTempId" value="@(Model != null? Model.ProductId.ToString():Guid.NewGuid().ToString())">
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        @if (nd_dv.Users.PermissionID != EnumUserType.EMPLOYEE)
                        {
                            <li style="padding: 12px;">
                                <button id="btn-save1" type="submit" class="btn btn-success"><img src="/Files/images/system/check_white.png" width="24" /> Done</button>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-6 col-sm-6 col-xs-12 clearfix">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="color: #1E4D5B; font-size: 24px; font-style: normal; font-weight: 600; line-height: normal;">Recipe Info</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="" style="background-color: #fff; padding: 20px 0;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="first-name">Name</label>
                                <div>
                                    <input class="form-control" id="Name" name="Name" type="text" value="@(Model != null? Model.Name : "")">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label" for="first-name">Book</label>
                                <div>
                                    <select class="ctr-select" data-live-search="true" name="CategoryId" id="CategoryId">
                                        @Html.Raw(ViewBag.cbxCategory)
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label" for="first-name">Publish Status</label>
                                <div>
                                    <select class="ctr-select" data-live-search="true" name="StatusID">
                                        <option value="@EnumStatus.ACTIVE" @(((Model != null && Model.StatusID == EnumStatus.ACTIVE) || Model == null) ? "Selected" : "")>Active</option>
                                        <option value="@EnumStatus.INACTIVE" @((Model != null && Model.StatusID == EnumStatus.INACTIVE) ? "Selected" : "")>Hide</option>
                                    </select>
                                </div>
                            </div>
                            @*<div class="form-group col-md-2 col-sm-2 col-xs-12">
                                <label class="control-label" for="first-name">
                                    Is New
                                </label>
                                <div>
                                    <input type="hidden" name="IsNew" value="@(Model == null? EnumStatus.ACTIVE : Model.IsNew)" />
                                    <div class="">
                                        <label>
                                            <input name="_IsNew" type="checkbox" class="js-switch" id="hienthi" @((Model == null || Model.IsNew == EnumStatus.ACTIVE) ? "checked" : "") data-switchery="true">
                                            <script>
                                            $("[name=_IsNew]").change(function () {
                                                if ($(this).prop("checked")) {
                                                    $("[name=IsNew]").val('@EnumStatus.ACTIVE');
                                                } else {
                                                    $("[name=IsNew]").val('@EnumStatus.INACTIVE');
                                        }
                                    })
                                            </script>
                                        </label>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="first-name">Video Url</label>
                                <div>
                                    <input class="form-control" id="VideoUrl" name="VideoUrl" type="text" value="@(Model != null? Model.VideoUrl : "")">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label" for="first-name">Video title</label>
                                <div>
                                    <input class="form-control" id="VideoTitle" name="VideoTitle" type="text" value="@(Model != null? Model.VideoTitle : "")">
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label" for="first-name">Video description</label>
                                <div>
                                    <input class="form-control" id="VideoDescription" name="VideoDescription" type="text" value="@(Model != null? Model.VideoDescription : "")">
                                </div>

                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="color: #1E4D5B; font-size: 24px; font-style: normal; font-weight: 600; line-height: normal;">Ingredient</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="" style="background-color: #fff; padding: 20px 0;">
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label" for="first-name">Size</label>
                                <div>
                                    <select class="ctr-select" data-live-search="true" name="size" id="size" onchange="selectSize()">
                                        @Html.Raw(ViewBag.cbxSize)
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div>
                                    <table class="table table-bordered" id="tableFormula">
                                        <thead>
                                            <tr>
                                                <th class="text-center" width="60"># </th>
                                                <th class="text-center" width="60"># </th>
                                                <th class="text-center" width="100">Qty </th>
                                                <th class="text-center" width="100">Unit</th>
                                                <th class="text-center" width="200">Ingredient</th>
                                                <th class="text-center" width="200">Cost</th>
                                                <th class="text-center" width="60" style="max-width:60px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="listFormula"></tbody>
                                    </table>
                                    <div style="display: flex; justify-content: space-between">
                                        @if (nd_dv.Users.PermissionID != EnumUserType.EMPLOYEE)
                                        {
                                            <div>
                                                <a class="btn btn-sm btn-add-step" onclick="add_ingredient()"><i class="fa fa-plus"></i> Add Ingredient</a>
                                                <a class="btn btn-sm btn-add-step" onclick="add_ingredient_header()"><i class="fa fa-plus"></i> Add Header</a>
                                            </div>
                                            <a class="btn btn-sm btn-add-step" onclick="add_ingredient_text()"><i class="fa fa-plus"></i> Add Ingredient by Text</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 clearfix">
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="color: #1E4D5B; font-size: 24px; font-style: normal; font-weight: 600; line-height: normal;">Image Cover (257x156)</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="image-area">
                        <input type="file" class="form-control" id="imgUploadLogo" name="_Logo" style="display:none" onchange="loadFileLogo(event)" />
                        <img src="@((Model != null && Model.Image != null) ? @Model.Image.Replace("~/", "/") : "/Files/images/system/cover_default.png" )" id="OpenImgUploadLogo" style="width: 100%" />

                        @if (Model != null && Model.Image != null)
                        {
                            <div class="overlay-image-remove">
                                <div>
                                    <a data-id="@Model.ProductId" data-type="@EnumProductImageType.IMAGE" style="cursor: pointer;" title="Remove Image" onclick="delete_image($(this))"><i class="fa fa-trash" style="font-size: 25px; color: #fff;"></i></a>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="x_title">
                        <h2 style="color: #1E4D5B; font-size: 24px; font-style: normal; font-weight: 600; line-height: normal;">Image Background</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="image-area">
                        <input type="file" class="form-control" id="imgUploadBackground" name="_BackGround" style="display:none" onchange="loadFileBackground(event)" />
                        <img src="@((Model != null && Model.Background != null) ? @Model.Background.Replace("~/", "/") : "/Files/images/system/cover_default.png" )" id="OpenImgUploadBackground" style="width: 100%" />
                        @if (Model != null && Model.Background != null)
                        {
                            <div class="overlay-image-remove">
                                <div>
                                    <a data-id="@Model.ProductId" data-type="@EnumProductImageType.BACKGROUND" style="cursor: pointer;" title="Remove Image" onclick="delete_image($(this))"><i class="fa fa-trash" style="font-size: 25px; color: #fff;"></i></a>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2 style="color: #1E4D5B; font-size: 24px; font-style: normal; font-weight: 600; line-height: normal;">Prep Method</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <div>
                                        <table class="table table-bordered" id="tableStep">
                                            <tbody id="listStep"></tbody>
                                        </table>
                                    </div>
                                    <div style="display:flex; justify-content: space-between">
                                        @if (nd_dv.Users.PermissionID != EnumUserType.EMPLOYEE)
                                        {
                                            <div>
                                                <a class="btn btn-sm btn-add-step" onclick="add_step()"><i class="fa fa-plus"></i> Add step</a>
                                                <a class="btn btn-sm btn-add-step" onclick="add_step_header()"><i class="fa fa-plus"></i> Add step header</a>
                                            </div>
                                            <a class="btn btn-sm btn-add-step" onclick="add_step_text()"><i class="fa fa-plus"></i> Add step by Text</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    mnActive = "mn-product";
    $(document).ready(function () {
        $(".ctr-select").selectpicker({
            width: '100%',
            showTick: true,
        });
        selectSize();
        LoadStep();
    });

    $('#OpenImgUploadLogo').click(function () {
        $('#imgUploadLogo').trigger('click');
    });

    var loadFileLogo = function (event) {
        var output = document.getElementById('OpenImgUploadLogo');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    $('#OpenImgUploadBackground').click(function () {
        $('#imgUploadBackground').trigger('click');
    });
    var loadFileBackground = function (event) {
        var output = document.getElementById('OpenImgUploadBackground');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

    function delete_image(obj) {
        alertify.confirm('Confirm Delete', function (e) {
            if (e) {
                $.ajax({
                    url: '@Url.Action("DeleteImage", "Products", new { area = "Admin" })',
                    type: 'GET',
                    dataType: 'json',
                    mimeType: "multipart/form-data",
                    contentType: false,
                    async: false,
                    cache: false,
                    data: {
                        id: obj.attr("data-id"),
                        type: obj.attr("data-type"),
                    },
                    success: function (data) {
                        if (data.isSuccess) {
                            window.location.reload();
                        }
                        else {
                            alertify.error(data.message);
                        }
                    }
                });
            }
        });
    }

    var dataStep = '';
    function LoadStep() {
        $("#listStep").html("<div><img src='/Files/images/system/id-loading.gif' style='margin: auto auto;display: block;margin-top: 20px;height:80px;' /></div>");
        $("#listStep").load("@Url.Action("ListStep", "Products", new {area ="Admin"})?productId=" + $('[name=ProductTempId]').val());
    }
    function selectSize() {
        $("#listFormula").html("<div><img src='/Files/images/system/id-loading.gif' style='margin: auto auto;display: block;margin-top: 20px;height:80px;' /></div>");
        $("#listFormula").load("@Url.Action("RecipeIngredient", "Products", new {area ="Admin"})?sizeId=" + $('[name=size]').val() + "&ingredientId=" + $('[name=ingredient]').val() + "&productId=@(Model != null ? Model.ProductId : Guid.Empty)" );
    }

    $(document).on("change", "[name=Type]", function () {
        $('#listProduct input').keyup();
    });

    function add_ingredient_text() {
        $('#modal-qltaikhoan').load('@Url.Action("UpdateIngredientByText", "Products", new { area = "Admin"})?sizeId=' + $('[name = size]').val()+ "&productId=@(Model != null ? Model.ProductId : Guid.Empty)", function (e) {
            $('#modal-qltaikhoan').modal('show');
        });
    }

    function add_ingredient() {
        $('#modal-qltaikhoan').load('@Url.Action("UpdateIngredient", "Products", new { area = "Admin"})?sizeId=' + $('[name = size]').val()+ "&productId=@(Model != null ? Model.ProductId : Guid.Empty)", function (e) {
            $('#modal-qltaikhoan').modal('show');
        });
    }

    function add_ingredient_header() {
        openModalDetail('@Url.Action("UpdateIngredientGroup", "Products", new { area = "Admin"})?productId=@(Model != null ? Model.ProductId : Guid.Empty)');
    }

    function change_data_ingredient(obj, type) {
        $.ajax({
            url: '@Url.Action("ChangeDataIngredient", "Products", new { area = "Admin" })',
            type: 'GET',
            dataType: 'json',
            mimeType: "multipart/form-data",
            contentType: false,
            async: false,
            cache: false,
            data: {
                id: obj.attr("data-id"),
                value: obj.val(),
                type: obj.attr("data-type"),
            },
            success: function (data) {
                selectSize();
                if (data.isSuccess) {
                    alertify.success(data.message);
                }
                else {
                    alertify.error(data.message);
                }
            }
        });
    }

    function change_data_ingredient_group(obj) {
        $.ajax({
            url: '@Url.Action("ChangeDataIngredientGroup", "Products", new { area = "Admin" })',
            type: 'GET',
            dataType: 'json',
            mimeType: "multipart/form-data",
            contentType: false,
            async: false,
            cache: false,
            data: {
                id: obj.attr("data-id"),
                value: obj.val(),
            },
            success: function (data) {
                selectSize();
                if (data.isSuccess) {
                    alertify.success(data.message);
                }
                else {
                    alertify.error(data.message);
                }
            }
        });
    }

    function delete_ingredient(obj) {
        alertify.confirm('Confirm Delete', function (e) {
            if (e) {
                $.ajax({
                    url: '@Url.Action("DeleteIngredient", "Products", new { area = "Admin" })',
                    type: 'GET',
                    dataType: 'json',
                    mimeType: "multipart/form-data",
                    contentType: false,
                    async: false,
                    cache: false,
                    data: { id: obj.attr("data-id") },
                    success: function (data) {
                        if (data.isSuccess) {
                            selectSize();
                        }
                        else {
                            alertify.error(data.message);
                        }
                    }
                });
            }
        });
    }

    function delete_ingredient_group(obj) {
        alertify.confirm('Confirm Delete', function (e) {
            if (e) {
                $.ajax({
                    url: '@Url.Action("DeleteIngredientGroup", "Products", new { area = "Admin" })',
                    type: 'GET',
                    dataType: 'json',
                    mimeType: "multipart/form-data",
                    contentType: false,
                    async: false,
                    cache: false,
                    data: { id: obj.attr("data-id") },
                    success: function (data) {
                        if (data.isSuccess) {
                            selectSize();
                        }
                        else {
                            alertify.error(data.message);
                        }
                    }
                });
            }
        });
    }

    function validateNumber(e) {
        if ((e.keyCode > 47 && e.keyCode < 58) || e.keyCode == 44) {
            return true;
        }else
            return false;
    }

    function add_step_text() {
        $('#modal-qltaikhoan').load('@Url.Action("UpdateStepByText", "Products", new { area = "Admin"})?&productId=@(Model != null ? Model.ProductId : Guid.Empty)', function (e) {
            $('#modal-qltaikhoan').modal('show');
        });
    }

    function add_step() {
        $('#modal-qltaikhoan').load('@Url.Action("UpdateStep", "Products", new { area = "Admin"})?&productId=@(Model != null ? Model.ProductId : Guid.Empty)', function (e) {
            $('#modal-qltaikhoan').modal('show');
        });
    }

    function change_data_step(obj, type) {
        $.ajax({
            url: '@Url.Action("ChangeDataStep", "Products", new { area = "Admin" })',
            type: 'GET',
            dataType: 'json',
            mimeType: "multipart/form-data",
            contentType: false,
            async: false,
            cache: false,
            data: {
                id: obj.attr("data-id"),
                value: obj.val(),
                type: obj.attr("data-type"),
            },
            success: function (data) {
                LoadStep();
                if (data.isSuccess) {
                    alertify.success(data.message);
                }
                else {
                    alertify.error(data.message);
                }
            }
        });
    }


    function delete_step(obj) {
        alertify.confirm('Confirm', function (e) {
            if (e) {
                $.ajax({
                    url: '@Url.Action("DeleteStep", "Products", new { area = "Admin" })',
                    type: 'GET',
                    dataType: 'json',
                    mimeType: "multipart/form-data",
                    contentType: false,
                    async: false,
                    cache: false,
                    data: { id: obj.attr("data-id") },
                    success: function (data) {
                        if (data.isSuccess) {
                            debugger;
                            alertify.success(data.message);
                            LoadStep();
                        }
                        else {
                            alertify.error(data.message);
                        }
                    }
                });
            }
        });
    }

    function add_step_header() {
        openModalDetail('@Url.Action("UpdateStepGroup", "Products", new { area = "Admin"})?productId=@(Model != null ? Model.ProductId : Guid.Empty)');
    }

    function change_data_step_group(obj) {
        $.ajax({
            url: '@Url.Action("ChangeDataStepGroup", "Products", new { area = "Admin" })',
            type: 'GET',
            dataType: 'json',
            mimeType: "multipart/form-data",
            contentType: false,
            async: false,
            cache: false,
            data: {
                id: obj.attr("data-id"),
                value: obj.val(),
            },
            success: function (data) {
                LoadStep();
                if (data.isSuccess) {
                    alertify.success(data.message);
                }
                else {
                    alertify.error(data.message);
                }
            }
        });
    }

    function delete_step_group(obj) {
        alertify.confirm('Confirm', function (e) {
            if (e) {
                $.ajax({
                    url: '@Url.Action("DeleteStepGroup", "Products", new { area = "Admin" })',
                    type: 'GET',
                    dataType: 'json',
                    mimeType: "multipart/form-data",
                    contentType: false,
                    async: false,
                    cache: false,
                    data: { id: obj.attr("data-id") },
                    success: function (data) {
                        if (data.isSuccess) {
                            debugger;
                            alertify.success(data.message);
                            LoadStep();
                        }
                        else {
                            alertify.error(data.message);
                        }
                    }
                });
            }
        });
    }

    function delete_step_image(obj) {
        alertify.confirm('Confirm Delete', function (e) {
            if (e) {
                $.ajax({
                    url: '@Url.Action("DeleteStepImage", "Products", new { area = "Admin" })',
                    type: 'GET',
                    dataType: 'json',
                    mimeType: "multipart/form-data",
                    contentType: false,
                    async: false,
                    cache: false,
                    data: { id: obj.attr("data-id") },
                    success: function (data) {
                        if (data.isSuccess) {
                            alertify.success(data.message);
                            LoadStep();
                        }
                        else {
                            alertify.error(data.message);
                        }
                    }
                });
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
        $('#frm-capnhat1').formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            fields: {
                Name: {
                    validators: {
                        notEmpty: {
                            message: 'Dữ liệu bắt buộc'
                        },
                    }
                },
                CategoryId: {
                    validators: {
                        notEmpty: {
                            message: 'Dữ liệu bắt buộc'
                        },
                    }
                },
            }
        }).on('success.form.fv', function (e) {
            e.preventDefault();
            debugger;
            var formData = new FormData(document.getElementById('frm-capnhat1'));
            var table = document.getElementById("tableFormula");
            var tbodyRowCount = table.tBodies[0].rows.length;
            var arr = [];
            for (var i = 0; i < tbodyRowCount; i++) {
                var index = i + 1;
                var obj = {
                    SizeId: '',
                    IngredientId: '',
                    Value: '',
                    Unit: '',
                    UnitId:''
                };
                obj.sizeId = $('[name=tbSizeId' + index + ']').val()
                obj.ingredientId = $('[name=tbIngredientId' + index + ']').val();
                obj.value = $('[name=value' + index + ']').val();
                obj.unit = $('[name=unit' + index + ']').val();
                obj.unitId = $('[name=unitid' + index + ']').val();
                arr.push(obj);

            }
            console.log(arr);
            debugger;
            formData.set("ingredient", JSON.stringify(arr));
            $.ajax({
                url: '@Url.Action("Update", "Products", new { area = "Admin" })',
                type: 'POST',
                dataType: 'json',
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                async: false,
                cache: false,
                data: formData,
                success: function (data) {
                    debugger;
                    if (data.isSuccess) {
                        alertify.success(data.message);
                        window.location.reload();
                    }
                    else {
                        alertify.error(data.message);
                    }
                }
            });


        });
    });

</script>
