@using Common.Constants
@using Project.Model.DbSet
@using Common.Resources
@model Category

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
                Recipe Book
            </h4>
        </div>
        <form class="fv-form fv-form-bootstrap" id="frm-capnhat1">
            <div class="modal-body">
                <input type="hidden" id="Id" name="Id" value="@(Model != null? Model.CategoryId.ToString():"0")">

                <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label" for="first-name">Name</label>
                        <div>
                            <input type="text" class="form-control" id="Name" name="Name" value="@(Model != null && !string.IsNullOrEmpty(Model.Name)? Model.Name :"")" />
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label" for="first-name">Image:</label>
                        <div>
                            <div style="margin-bottom:10px">
                                <input type="file" class="form-control" name="_Logo" />
                            </div>
                            @if (Model != null && Model.Image != null)
                            {
                                <div class="col-md-55">
                                    <div class="thumbnail" style="height:auto;">
                                        <div class="image view view-first">
                                            <img id="_Logo" src="@Model.Image.Replace("~/", "/")" onclick="javascript: window.open($(this).attr('src'), '_blank')" style="width: 100%; display: block;" alt="image" />
                                            <div class="mask">
                                                <p></p>
                                                <div class="tools tools-bottom">
                                                    <a href="javascript: window.open('@Model.Image.Replace("~/", "/")', '_blank')"><i class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            }
                            else
                            {
                                <img id="_Logo" src="" onclick="javascript: window.open($(this).attr('src'), '_blank')" style="max-height:150px; display:none;" />
                            }

                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label class="control-label" for="first-name">Sort Order</label>
                        <div>
                            <input type="text" class="form-control" id="SortOrder" name="SortOrder" value="@(Model != null && Model.SortOrder != null? Model.SortOrder :0)" />
                        </div>
                    </div>


                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button id="btn-save1" type="submit" class="btn btn-success">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".ctr-select").selectpicker({
            width: '100%',
            showTick: true,
        });
    })
</script>
<script>
    $(document).ready(function () {
        $('#frm-capnhat1').formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            fields: {
                Name: {
                    validators: {
                        notEmpty: {
                            message: 'Required data'
                        },
                    }
                },
                _Logo: {
                    validators: {

                        file: {
                            extension: 'jpeg,jpg,png',
                            type: 'image/jpeg,image/png',
                            maxSize: 5242880,
                            message: 'The system only supports the use of jpg, png image files'
                        },
                    }
                },
            }
        }).on('success.form.fv', function (e) {
            document.getElementById("btn-save1").disabled = true;
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("Update", "Categories", new { area = "Admin" })',
                type: 'POST',
                dataType: 'json',
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                async: false,
                cache: false,
                data: new FormData(document.getElementById('frm-capnhat1')),
                success: function (data) {
                    debugger;
                    if (data.isSuccess) {
                        alertify.success(data.message);
                        window.location.href = '@Url.Action("MainPage", "Categories", new { area = "Admin" })';
                    }
                    else {
                        alertify.error(data.message);
                        document.getElementById("btn-save1").disabled = false;
                        $("#btn-save1").removeClass("disabled");
                    }
                }
            });
        });
    });

</script>
