@using Common.Constants
@using Project.Model.DbSet
@using Common.Resources
@using Project.Model.Model
@using Project.Model.Configuration;
@model Ingredient
@{
    UserInfo nd_dv = (UserInfo)Session[ConfigKey.SESSION_LOGIN];
}
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form class="fv-form fv-form-bootstrap" id="frm-capnhat1">
            <div class="modal-body">
                <h4 class="modal-title">
                    Ingredient
                </h4>
                <input type="hidden" id="IngredientId" name="IngredientId" value="@(Model != null? Model.IngredientId.ToString():"0")">
                <input type="hidden" id="SortOrder" name="SortOrder" value="@(Model != null? Model.SortOrder:0)">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label class="control-label" for="first-name"> Image: (64x45)</label>
                            <div>
                                <input type="file" class="form-control" id="imgUploadLogo" name="_Logo" style="display:none" onchange="loadFileLogo(event)" />
                                <img src="@((Model != null && Model.Image != null) ? @Model.Image.Replace("~/", "/") : "/Files/images/system/cover_default.png" )" id="OpenImgUploadLogo" style="width: 100%" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label" for="first-name">Group</label>
                            <div>
                                <select class="ctr-select" data-live-search="true" name="IngredientGroupId" id="IngredientGroupId">
                                    @Html.Raw(ViewBag.cbxCategory)
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label" for="first-name">Name:</label>
                            <div>
                                <input type="text" class="form-control" id="Name" name="Name" value="@(Model != null && !string.IsNullOrEmpty(Model.Name)? Model.Name :"")" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label" for="first-name">Scale by</label>
                            <div>
                                <select class="ctr-select" data-live-search="true" name="UnitGroupId" id="UnitGroupId">
                                    @Html.Raw(ViewBag.cbxCategoryUnit)
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label" for="first-name">Price:</label>
                            <div>
                                <input type="text" class="form-control" id="Price" name="Price" value="@(Model != null && Model.Price != null? Model.Price : 0)" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix" style="padding-bottom: 30px;">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label class="control-label" for="first-name">Publish status</label>
                            <div>
                                <select class="ctr-select" data-live-search="true" name="StatusID">
                                    <option value="@EnumStatus.ACTIVE" @((Model != null && Model.StatusID == EnumStatus.ACTIVE) ? "Selected" : "")>Active</option>
                                    <option value="@EnumStatus.INACTIVE" @((Model != null && Model.StatusID == EnumStatus.INACTIVE) ? "Selected" : "")>Hide</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                @if (nd_dv.Users.PermissionID != EnumUserType.EMPLOYEE)
                {
                    <button type="button" class="btn btn-info" data-dismiss="modal">@Message.CANCEL</button>
                    <button id="btn-save1" type="submit" class="btn btn-success">@Message.SAVE</button>
                }
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".ctr-select").selectpicker({
            width: '100%',
            showTick: true,
        });
    })

    $('#OpenImgUploadLogo').click(function () { $('#imgUploadLogo').trigger('click'); });
    var loadFileLogo = function (event) {
        var output = document.getElementById('OpenImgUploadLogo');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

</script>
<script>
    $(document).ready(function () {
        $('#frm-capnhat1').formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            fields: {
                Name: {
                    validators: {
                        notEmpty: {
                            message: 'Required data'
                        },
                    }
                },
                _Logo: {
                    validators: {

                        file: {
                            extension: 'jpeg,jpg,png',
                            type: 'image/jpeg,image/png',
                            maxSize: 5242880,
                            message: 'Hệ thống chỉ hỗ trợ sử dụng file ảnh jpg,png'
                        },
                    }
                },

            }
        }).on('success.form.fv', function (e) {
            document.getElementById("btn-save1").disabled = true;
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("Update", "Ingredient", new { area = "Admin" })',
                type: 'POST',
                dataType: 'json',
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                async: false,
                cache: false,
                data: new FormData(document.getElementById('frm-capnhat1')),
                success: function (data) {
                    debugger;
                    if (data.isSuccess) {
                        alertify.success(data.message);
                        $('#modal-qltaikhoan').modal('hide');
                        ChoosePage(0);
                    }
                    else {
                        alertify.error(data.message);
                        document.getElementById("btn-save1").disabled = false;
                        $("#btn-save1").removeClass("disabled");
                    }
                }
            });
        });
    });

</script>
