@using Project.Model.Model
@using Project.Model.Configuration
@using Common.Constants

@{
    UserInfo nd_dv = (UserInfo)Session[ConfigKey.SESSION_LOGIN];
}
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="@Url.Action("MainPage","Home")" class="site_title"><img src="/Files/images/system/logo-white.png" width="115" /></a>
            <div class="nav left-toggle">
                <a id="menu_toggle"><img src="/Files/images/system/double_arrow.png" width="32" /></a>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu" style=" display: flex; justify-content: center; align-items: center; height: 90%; ">
            <div class="menu_section" style=" width: 230px; ">
                <ul class="nav side-menu">
                    <li class="mn-home">
                        <a href="@Url.Action("MainPage","Products")"><i class="fa fa-home"></i> Home<span class="fa fa-chevron-right"></span></a>
                    </li>
                    <li class="mn-profile">
                        <a href="@Url.Action("MainPage","Profile")"><i class="fa fa-user"></i> Profile<span class="fa fa-chevron-right"></span></a>
                    </li>
                    @if (nd_dv.Users.PermissionID != EnumUserType.EMPLOYEE)
                    {
                        <li class="mn-team">
                            <a href="@Url.Action("MainPage","Users")"><i class="fa fa-users"></i> Manage Team<span class="fa fa-chevron-right"></span></a>
                        </li>
                    }


                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->
        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="@((nd_dv != null && nd_dv.Users != null && nd_dv.Users.Avatar != null) ? nd_dv.Users.Avatar.Replace("~/", "/") : "/Files/images/system/no_pic.jpg" )" class="img-circle profile_img" width="48" height="48">
            </div>
            <div class="profile_info">
                <h2>@nd_dv.Users.FullName</h2>
                <span>@(nd_dv.Users.Email?? "email@bottega.com")</span>
                <br />
                <a style="color: #fff;" href="/logout"><i class="fa fa-sign-out pull-right"></i> Logout</a>
            </div>
        </div>
        <!-- /menu profile quick info -->
    </div>
</div>