@using Common.Constants
@using Project.Model.DbSet
@using Common.Resources

@model User
@{
    Layout = "";
    List<Category> categories = (List<Category>)ViewBag.categories;
    List<int?> userCategories = (List<int?>)ViewBag.userCategories;
    List<Product> products = (List<Product>)ViewBag.products;
    List<User_Product> userProducts = (List<User_Product>)ViewBag.userProducts;

    int stt = 0;
}
@if (categories != null && categories.Count() > 0)
{
    foreach (var item in categories)
    {
        int j = 0;
        <tr>
            <td class="text-left" >@(++stt)</td>
            <td colspan="2">@item.Name</td>
            <td class="text-center">
                <input type="checkbox" name="foo" data-id="@Model.UserID" data-category="@item.CategoryId" value="@(userCategories.Contains(item.CategoryId) ? 1 : 0)" @( userCategories.Contains(item.CategoryId) ? "checked" : "") onclick="select_category($(this));">
            </td>
        </tr>
        foreach (var subItem in products.Where(x=>x.CategoryId == item.CategoryId))
        {
            var userProduct = userProducts.FirstOrDefault(x => x.ProductId == subItem.ProductId);
            <tr>
                <td class="text-center"></td>
                <td class="text-left">@(++j)</td>
                <td>@subItem.Name</td>
                <td class="text-center">
                    <input type="checkbox" name="foo" data-id="@Model.UserID" data-product="@subItem.ProductId" value="@(userProduct != null ? userProduct.StatusID ?? 0 : 0)" @(userProduct != null && userProduct.StatusID == EnumStatus.ACTIVE ? "checked" : "") onclick="select_product($(this));">
                </td>
            </tr>
        }
    }
}

