@using Common.Constants
@using Project.Model.DbSet
@using Common.Resources
@model User

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <form class="fv-form fv-form-bootstrap" id="frm-capnhat1">
            <div class="modal-body">
                <h4 class="modal-title">
                    Update
                </h4>
                <input type="hidden" id="UserID" name="UserID" value="@(Model != null? Model.UserID.ToString():"")">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label" for="first-name">UserName</label>
                            <div>
                                <input type="text" class="form-control" id="UserName" name="UserName" value="@(Model != null && !string.IsNullOrEmpty(Model.UserName)? Model.UserName :"")" />
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label" for="first-name">Password</label>
                            <div>
                                <input type="password" class="form-control" id="Password" name="Password" value="" />
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label" for="first-name">Access Admin:</label>
                            <div>
                                <select class="ctr-select" data-live-search="true" name="PositionID">
                                    <option value="@EnumStatus.INACTIVE" @((Model != null && Model.PositionID == EnumStatus.INACTIVE) ? "Selected" : "")>No</option>
                                    <option value="@EnumStatus.ACTIVE" @((Model != null && Model.PositionID == EnumStatus.ACTIVE) ? "Selected" : "")>Yes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 clearfix" style="padding-bottom: 20px;">
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label" for="first-name">Full Name</label>
                            <div>
                                <input type="text" class="form-control" id="FullName" name="FullName" value="@(Model != null && !string.IsNullOrEmpty(Model.FullName)? Model.FullName :"")" />
                            </div>
                        </div>

                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label" for="first-name">Email</label>
                            <div>
                                <input type="text" class="form-control" id="Email" name="Email" value="@(Model != null && !string.IsNullOrEmpty(Model.Email)? Model.Email :"")" />
                            </div>
                        </div>
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label" for="first-name">Status:</label>
                            <div>
                                <select class="ctr-select" data-live-search="true" name="StatusID">
                                    <option value="@EnumStatus.ACTIVE" @((Model != null && Model.StatusID == EnumStatus.ACTIVE) ? "Selected" : "")>@EnumStatus.ToString(EnumStatus.ACTIVE)</option>
                                    <option value="@EnumStatus.INACTIVE" @((Model != null && Model.StatusID == EnumStatus.INACTIVE) ? "Selected" : "")>Block</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @if (Model.UserID != Guid.Empty)
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="first-name">Access Type</label>
                                <div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-left" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important "></th>
                                                <th class="text-center" width="120" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">Guest</th>
                                                <th class="text-center" width="120" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">View Only</th>
                                                <th class="text-center" width="120" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">Manager</th>
                                            </tr>
                                        </thead>
                                        <tbody id="access_type">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="first-name">Add Restrict Access by Folder (Recipes Book):</label>
                                <div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-left" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">Recipe Book</th>
                                                <th class="text-center" width="200" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody id="recipe_book"></tbody>
                                    </table>
                                    <div>
                                        <a class="btn btn-sm btn-add-access" onclick="javascript: $('#modal-example').load('@Url.Action("Role_User_Permission_Add_Category","Users",new { area = "Admin" , id = Model.UserID })', function (e) { $('#modal-example').modal('show'); });"><i class="fa fa-plus"></i> Add Restrict Access</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="first-name">Add Restrict Access by Single Recipe:</label>
                                <div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-left" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">Recipe</th>
                                                <th class="text-center" width="200" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody id="recipe"></tbody>
                                    </table>
                                    <div>
                                        <a class="btn btn-sm btn-add-access" onclick="javascript: $('#modal-example').load('@Url.Action("Role_User_Permission_Add_Product","Users",new { area = "Admin" , id = Model.UserID })', function (e) { $('#modal-example').modal('show'); });"><i class="fa fa-plus"></i> Add Restrict Access</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-12 col-sm-12 col-xs-12 clearfix">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label" for="first-name">Access Type</label>
                                <div>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-left" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important "></th>
                                                <th class="text-center" width="120" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">Guest</th>
                                                <th class="text-center" width="120" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">View Only</th>
                                                <th class="text-center" width="120" style="background: var(--gray-6, #F2F2F2); color: var(--gray-1, #333); border: 1px solid #E0E0E0 !important ">Manager</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="border: 1px solid #E0E0E0 !important ">General Access</td>
                                                <td class="text-center" style="border: 1px solid #E0E0E0 !important ">
                                                    <input type="radio" name="PermissionID" value="@EnumUserType.GUEST" @(Model.PermissionID == EnumUserType.GUEST ? "checked" : "") />
                                                </td>
                                                <td class="text-center" style="border: 1px solid #E0E0E0 !important ">
                                                    <input type="radio" name="PermissionID" value="@EnumUserType.EMPLOYEE" @(Model.PermissionID == EnumUserType.EMPLOYEE ? "checked" : "") />
                                                </td>
                                                <td class="text-center" style="border: 1px solid #E0E0E0 !important ">
                                                    <input type="radio" name="PermissionID" value="@EnumUserType.MANAGER" @(Model.PermissionID == EnumUserType.MANAGER ? "checked" : "") />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">@Message.CANCEL</button>
                <button id="btn-save1" type="submit" class="btn btn-success">@Message.SAVE</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".ctr-select").selectpicker({
            width: '100%',
            showTick: true,
        });

        $("#access_type").html("<tr><td colspan='19'><img src='/Files/images/system/id-loading.gif' style='margin: auto auto;display: block;margin-top: 20px;height:80px;' /></td></tr>");
        access_type_load('@Model.UserID');

        $("#recipe_book").html("<tr><td colspan='19'><img src='/Files/images/system/id-loading.gif' style='margin: auto auto;display: block;margin-top: 20px;height:80px;' /></td></tr>");
        recipe_book_load('@Model.UserID');

        $("#recipe").html("<tr><td colspan='19'><img src='/Files/images/system/id-loading.gif' style='margin: auto auto;display: block;margin-top: 20px;height:80px;' /></td></tr>");
        recipe_load('@Model.UserID');
    })
</script>
<script>
    $(document).ready(function () {
        $('#frm-capnhat1').formValidation({
            framework: 'bootstrap',
            excluded: ':disabled',
            fields: {
                UserName: {
                    validators: {
                        notEmpty: {
                            message: 'Required data'
                        },
                    }
                },
                Password: {
                    validators: {
                        @if ((Model == null || Model.UserID == Guid.Empty))
                        {
                            <text>
                                notEmpty: {
                                    message: 'Required data'
                                },
                            </text>
                        }
                    }
                },
                FullName: {
                    validators: {
                        notEmpty: {
                            message: 'Required data'
                        },
                    }
                },
                _Logo: {
                    validators: {
                        file: {
                            extension: 'jpeg,jpg,png',
                            type: 'image/jpeg,image/png',
                            maxSize: 5242880,
                            message: 'Hệ thống chỉ hỗ trợ sử dụng file ảnh jpg,png'
                        },
                    }
                },

            }
        }).on('success.form.fv', function (e) {
            document.getElementById("btn-save1").disabled = true;
            e.preventDefault();
            $.ajax({
                url: '@Url.Action("Update", "Users", new { area = "Admin" })',
                type: 'POST',
                dataType: 'json',
                mimeType: "multipart/form-data",
                contentType: false,
                processData: false,
                async: false,
                cache: false,
                data: new FormData(document.getElementById('frm-capnhat1')),
                success: function (data) {
                    if (data.isSuccess) {
                        alertify.success(data.message);
                        window.location.href = '@Url.Action("MainPage", "Users", new { area = "Admin" })';
                    }
                    else {
                        alertify.alert(data.message, function () {
                            document.getElementById("btn-save1").disabled = false;
                            $("#btn-save1").removeClass("disabled");
                        });
                    }
                }
            });
        });
    });

</script>
